<footer class="footer">
  <div class="container footer-container">
<div class="footer-nav">
  <p class="footer-nav-text">Быстрая <br class="mob">
  навигация</p>
    <ul class="navigation-list footer-navigation-list">
      <li class="navigation-item footer-navigation-item">
        <a class="links footer-links" href="#numbers">Цифры</a>
      </li>
      <li class="navigation-item footer-navigation-item">
        <a class="links footer-links" href="#deals">Сделки онлайн</a>
      </li>
      <li class="navigation-item footer-navigation-item">
        <a class="links footer-links" href="#about">о компании</a>
      </li>
      <li class="navigation-item footer-navigation-item">
        <a class="links" href="#reviews">tradeblad это</a>
      </li>      
      <li class="navigation-item footer-navigation-item footer-navigation-item-desk">
        <a class="links" href="#start">как начать</a>
      </li>
      <li class="navigation-item footer-navigation-item">
        <a class="links footer-links" href="#price">тарифы</a>
      </li>

      <li class="navigation-item footer-navigation-item">
        <a class="links footer-links" href="#faq">FAQ</a>
      </li>
    </ul>
</div>
<div class="footer-logo">
 <img class="footer-logo-img" src="/img/footer/Group 41.png" alt="Logo" loading="lazy"> 
 <p class="legal-text">© 2022 TradeBlade. All rights reserved</p>
</div>
  </div>
</footer>
