<header class="header" id="site-header">
  <div class="header-container container">
    <picture class="header-img-wrapper">
      <source srcset="
                        /img/header/logo-desk.png 1x,
                        /img/header/logo-desk-2x.png 2x
                        " media="(min-width: 1440px)" />
      <source srcset="
                        /img/header/logo-mob.png 1x,
                        /img/header/logo-mob-2x.png 2x
                        " media="(max-width: 1439px)" />
      <img class="header-img" src="/img/header/logo-mob.png" alt="Logo" loading="lazy" />
    </picture>
    <button type="button" class="menu-button" aria-label="menu toggle">
      <span class="icon">
<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd"
    d="M4.39999 9.33324C4.39999 8.81777 4.81786 8.3999 5.33333 8.3999H26.6667C27.1821 8.3999 27.6 8.81777 27.6 9.33324C27.6 9.8487 27.1821 10.2666 26.6667 10.2666H5.33333C4.81786 10.2666 4.39999 9.8487 4.39999 9.33324Z"
    fill="#E7F7F8" />
  <path fill-rule="evenodd" clip-rule="evenodd"
    d="M4.39999 16C4.39999 15.4845 4.81786 15.0667 5.33333 15.0667H26.6667C27.1821 15.0667 27.6 15.4845 27.6 16C27.6 16.5154 27.1821 16.9333 26.6667 16.9333H5.33333C4.81786 16.9333 4.39999 16.5154 4.39999 16Z"
    fill="#E7F7F8" />
  <path fill-rule="evenodd" clip-rule="evenodd"
    d="M4.39999 22.6665C4.39999 22.151 4.81786 21.7332 5.33333 21.7332H26.6667C27.1821 21.7332 27.6 22.151 27.6 22.6665C27.6 23.182 27.1821 23.5998 26.6667 23.5998H5.33333C4.81786 23.5998 4.39999 23.182 4.39999 22.6665Z"
    fill="#E7F7F8" />
</svg>
      </span>
    </button>
    <nav class="nav ">
      <ul class="navigation-list">
        <li class="navigation-item">
          <a class="links" href="#numbers">Цифры</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="#deals">Сделки онлайн</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="#about">о компании</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="#start">как начать</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="#price">тарифы</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="#reviews">отзывы</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
      <div class="header-btn-desk">
        <a class="sign-in-btn sign-in-btn-desk" href="#start">Войти</a> 
        <a class="sign-up-btn sign-up-btn-desk" href="#email">регистрация</a>
     
      </div>
  </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
  <ul class="menu-list">
    <li class="menu-item"><a class="menu-list-item" href="#numbers">Цифры</a></li>
    <li class="menu-item"><a class="menu-list-item" href="#deals">Сделки онлайн</a></li>
    <li class="menu-item">
      <a class="menu-list-item" href="#about">о компании</a>
    </li>
    <li class="menu-item"><a class="menu-list-item" href="#start">как начать</a></li>
    <li class="menu-item"><a class="menu-list-item" href="#price">тарифы</a></li>
    <li class="menu-item"><a class="menu-list-item" href="#reviews">отзывы</a></li>
    <li class="menu-item"><a class="menu-list-item" href="#faq">FAQ</a></li>
  </ul>
  <div class="header-btn">
    <a class="sign-up-btn" href="#email">регистрация</a>
    <a class="sign-in-btn" href="#start">Войти</a>
  </div>
</div>
