<!-- Hero -->
 <section class="hero-section">
    <div class="container hero-conatiner">
        <picture class="hero-img-wrapper">
            <source srcset="
                    /img/hero/hero-desk.png 1x,
                    /img/hero/hero-desk-2x.png 2x
                    " media="(min-width: 1440px)" />
            <source srcset="
                    /img/hero/hero-mob.png 1x,
                    /img/hero/hero-mob-2x.png 2x
                    " media="(max-width: 1439px)" />
            <img class="hero-img" src="/img/hero/hero-mob.png" alt="EtH/USDT" loading="lazy" />
        </picture>
        <div class="hero-wrapper">
        <h1 class="hero-title">моментально Копируй сделки профи трейдеров</h1>
        <p class="hero-text">Начни копировать сдлки с успешной командой профессиональных трейдеров в автоматическом режиме.</p>
        <div class="subscribe-form">
            <input class="hero-input email" type="email" placeholder="ВАШ E-MAIL" required>
            <button class="hero-btn submitBtn">НАЧАТЬ</button>
            <p class="form-message"></p>
        </div>
        <p class="hero-bottom-text">5 дней бесплатного пользования</p>
    </div>
    </div>
 </section>
 <!-- Numbers -->
<section class="numbers-section">
    <div class="container number-conteiner">
    <div class="numbers-warpper">
       <h2 class="numbers-title">Цифры</h2> 
       <p class="date-text">Cентябрь 2022</p>
    </div>
       <ul class="numbers-list">
        <li class="numbers-item">
            <p class="item-title">Торговой прибыли</p>
            <p class="item-number">2756%</p>
        </li>
        <li class="numbers-item">
            <p class="item-title">фьючерсных
            и спотовых сделок</p>
            <p class="item-number">67</p>
        </li>
        <li class="numbers-item">
            <p class="item-title">прибыль
            подписчиков</p>
            <p class="item-number">375000</p>
        </li>
       </ul>
    </div>
</section>
<!-- Deals -->
<section class="deals-section">
    <div class="container deals-container">
        <h2 class="deals-title">Прошедшие сделки</h2>
        <ul class="deals-list">
            <li class="deals-item">Онлайн</li>
        </ul>
        <div class="swiper deals-swiper">
            <div class="swiper-wrapper deals-swiper-wrapper">
                <div class="swiper-slide deals-swiper-slide">
                   <img src="/img/deals/Frame 21066.png" alt="Deals" loading="lazy">
                </div>
                <div class="swiper-slide deals-swiper-slide">
                    <img src="/img/deals/Frame 21067.png" alt="Deals" loading="lazy">
                </div>
                <div class="swiper-slide deals-swiper-slide">
                    <img src="/img/deals/Frame 21068.png" alt="Deals" loading="lazy">
                </div>
                <div class="swiper-slide deals-swiper-slide">
                    <img src="/img/deals/Frame 21069.png" alt="Deals" loading="lazy">
                </div>
                <div class="swiper-slide deals-swiper-slide">
                    <img src="/img/deals/Frame 21070.png" alt="Deals" loading="lazy">
                </div>
            </div>
            <div class="pag_container">
                <div class="pag_bar"></div>
            </div>
        </div>
    </div>
</section>
<!-- About -->
<section class="about-section">
    <div class="container about-container">
<div class="about-wrapper">
    <h2 class="about-title">О компании</h2>
    <ul class="about-list">
        <li class="about-item">Мы опытная команда, для которой трейдинг – профессия. TradeBlade является авторизованным официальным брокером биржи
        Binance.
</li>
        <li class="about-item">Он представляет пользователям множество преимуществ, таких как более високая скорость синхронизации API и возможность
        создать учетную запись Binance через платформу TradeBlade всего в 1 клик.</li>
    </ul>
</div>
<div class="subscribe-form about-form">
    <p class="form-title">Попробуйте сейчас и получите<br>
    5 дней бесплатного пользования</p>
    <input class="hero-input about-input email" type="email"  placeholder="ВАШ E-MAIL" required>
    <button class="hero-btn about-btn submitBtn">попробовать</button>
    <p class="form-message"></p>
</div>
    </div>
</section>