<!-- Hero -->
 <section class="hero-section">
    <div class="container hero-conatiner">
        <picture class="hero-img-wrapper">
            <source srcset="
                    /img/hero/hero-desk.png 1x,
                    /img/hero/hero-desk-2x.png 2x
                    " media="(min-width: 1440px)" />
            <source srcset="
                    /img/hero/hero-mob.png 1x,
                    /img/hero/hero-mob-2x.png 2x
                    " media="(max-width: 1439px)" />
            <img class="hero-img" src="/img/hero/hero-mob.png" alt="EtH/USDT" loading="lazy" />
        </picture>
        <div class="hero-wrapper">
        <h1 class="hero-title">моментально Копируй сделки профи трейдеров</h1>
        <p class="hero-text">Начни копировать сдлки с успешной командой профессиональных трейдеров в автоматическом режиме.</p>
        <div class="subscribe-form">
            <input class="hero-input email" type="email" placeholder="ВАШ E-MAIL" required>
            <button class="hero-btn submitBtn">НАЧАТЬ</button>
            <p class="form-message"></p>
        </div>
        <p class="hero-bottom-text">5 дней бесплатного пользования</p>
    </div>
    </div>
 </section>
 <!-- Numbers -->
<section class="numbers-section">
    <div class="container number-conteiner">
    <div class="numbers-warpper">
       <h2 class="numbers-title">Цифры</h2> 
       <p class="date-text">Cентябрь 2022</p>
    </div>
       <ul class="numbers-list">
        <li class="numbers-item">
            <p class="item-title">Торговой прибыли</p>
            <p class="item-number">2756%</p>
        </li>
        <li class="numbers-item">
            <p class="item-title">фьючерсных
            и спотовых сделок</p>
            <p class="item-number">67</p>
        </li>
        <li class="numbers-item">
            <p class="item-title">прибыль
            подписчиков</p>
            <p class="item-number">375000</p>
        </li>
       </ul>
    </div>
</section>
<!-- Deals -->
<section class="deals-section">
    <div class="container deals-container">
        <h2 class="deals-title">Прошедшие сделки</h2>
        <ul class="deals-list">
            <li class="deals-item">Онлайн</li>
        </ul>
        <div class="swiper deals-swiper">
            <div class="swiper-wrapper deals-swiper-wrapper">
                <div class="swiper-slide deals-swiper-slide">
                   <img src="/img/deals/Frame 21066.png" alt="Deals" loading="lazy">
                </div>
                <div class="swiper-slide deals-swiper-slide">
                    <img src="/img/deals/Frame 21067.png" alt="Deals" loading="lazy">
                </div>
                <div class="swiper-slide deals-swiper-slide">
                    <img src="/img/deals/Frame 21068.png" alt="Deals" loading="lazy">
                </div>
                <div class="swiper-slide deals-swiper-slide">
                    <img src="/img/deals/Frame 21069.png" alt="Deals" loading="lazy">
                </div>
                <div class="swiper-slide deals-swiper-slide">
                    <img src="/img/deals/Frame 21070.png" alt="Deals" loading="lazy">
                </div>
            </div>
            <div class="pag_container">
                <div class="pag_bar"></div>
            </div>
        </div>
    </div>
</section>
<!-- About -->
<section class="about-section">
    <div class="container about-container">
<div class="about-wrapper">
    <h2 class="about-title">О компании</h2>
    <ul class="about-list">
        <li class="about-item">Мы опытная команда, для которой трейдинг – профессия. TradeBlade является авторизованным официальным брокером биржи
        Binance.
</li>
        <li class="about-item">Он представляет пользователям множество преимуществ, таких как более високая скорость синхронизации API и возможность
        создать учетную запись Binance через платформу TradeBlade всего в 1 клик.</li>
    </ul>
</div>
<div class="subscribe-form about-form">
    <p class="form-title">Попробуйте сейчас и получите<br>
    5 дней бесплатного пользования</p>
    <input class="hero-input about-input email" type="email"  placeholder="ВАШ E-MAIL" required>
    <button class="hero-btn about-btn submitBtn">попробовать</button>
    <p class="form-message"></p>
</div>
    </div>
</section>
<!-- Tradeblade -->
<section class="tradeblade-section">
    <div class="container tradeblade-container">
        <h2 class="tradeblade-title">tradeblade это</h2>
        <ul class="tradeblade-list">
            <li class="tradeblade-item">
                <img class="tradeblade-img" src="/img/tradeblade/Frame 21053.png" alt="Icon" loading="lazy">
                <div class="tradeblade-wrapper">
                    <h3 class="tradeblade-subtitle">Копи–трейдинг 24/7</h3>
                    <p class="tradeblade-text">Copy–Trading позволяет следить за сделками команды и получать прибыль 24/7 без каких–либо усилий или проблем для вас.</p>
                </div>
            </li>
            <li class="tradeblade-item">
                <img class="tradeblade-img" src="/img/tradeblade/Frame 21055.png" alt="Icon" loading="lazy">
                <div class="tradeblade-wrapper">
                    <h3 class="tradeblade-subtitle">Торговля спотовыми и фьючерсными сделками</h3>
                    <p class="tradeblade-text">Платформа для копи–трейдинга поддерживает торговлю как спотовыми, так и фьючерсными сделками на Binance.</p>
                </div>
            </li>
            <li class="tradeblade-item">
                <img class="tradeblade-img" src="/img/tradeblade/Frame 21057.png" alt="Icon" loading="lazy">
                <div class="tradeblade-wrapper">
                    <h3 class="tradeblade-subtitle">Высокая прибыль каждий день</h3>
                    <p class="tradeblade-text">Каждая сделка показывает хорошие результаты на рынках за счет хорошего денежного и риск менеджмента.</p>
                </div>
            </li>
            <li class="tradeblade-item">
                <img class="tradeblade-img" src="/img/tradeblade/Frame 21059.png" alt="Icon" loading="lazy">
                <div class="tradeblade-wrapper">
                    <h3 class="tradeblade-subtitle">Собственный курс по трейдингу</h3>
                    <p class="tradeblade-text">Мы хотим менять комьюнити, улучшать его. В личном кабинете на сайте вы найдете наш собственный курс по криптовалютам,
                    который поможет увереннее понимать наши сигналы и разрабатывать свои.</p>
                </div>
            </li>
            <li class="tradeblade-item">
                <img class="tradeblade-img" src="/img/tradeblade/Frame 21061.png" alt="Icon" loading="lazy">
                <div class="tradeblade-wrapper">
                    <h3 class="tradeblade-subtitle">Сильное окружение</h3>
                    <p class="tradeblade-text">Ты попадаешь в сильное крипто окружение, ведь развиваться легче когда нас много. В чате присутствуют люди из нашей
                    команды, которые общаються со всеми, помагают и подсказывают.</p>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- Start -->
<section class="start-section">
    <div class="container start-container">
        <h2 class="start-title">Как начать пользоваться сервисом</h2>
        <ul class="start-list">
            <li class="start-item">
                <h3 class="start-subtitle">Создайте аккаунт</h3>
                <p class="start-text">Начните бесплатную 3-дневную пробную версию. Кредитная карта не требуется.</p>
            </li>
            <li class="start-item">
                <h3 class="start-subtitle">Подключить обмен API ключами</h3>
                <p class="start-text">Просто вставьте свои ключи API из личного кабинета.</p>
            </li>
            <li class="start-item">
                <h3 class="start-subtitle">Настройте аккаунт</h3>
                <p class="start-text">Поставьте нужные настройки депозита на каждый сигнал и нажмите сохранить.</p>
            </li>
            <li class="start-item">
                <h3 class="start-subtitle">Ваш копитрейдер запущен</h3>
                <p class="start-text">Просто расслабьтесь и начните получать пассивный доход от криптовалюты с помощью TradeBlade</p>
            </li>
        </ul>
        <a class="start-btn" href="#price">Попробовать бесплатно</a>
    </div>
</section>
<!-- Price -->
<section class="price-section" id="price">
    <div class="container price-container">
        <h2 class="price-title">Тарифы</h2>
    <div class="tariffs">
        <div class="tabs">
            <button id="spotBtn" class="tab active">СПОТ</button>
            <button id="futuresBtn" class="tab">ФЬЮЧЕРС</button>
        </div>
    
        <div id="cardsContainer" class="cards">
            <div class="card standard">
                <h3>STANDARD</h3>
                <ul class="card-list">
                    <li class="card-item">
                    <img class="check" src="/img/card/Frame 21065.png" alt="check" loading="lazy" />
                    <p class="card-text">Ручной трейдинг</p>
                    </li>
                    <li class="card-item">
                        <img class="check" src="/img/card/Frame 21065.png" alt="check" loading="lazy" />
                    <p class="card-text">Автоматическое или полуавтоматическое копирование сделок</p>
                </li>
                    <li class="card-item">
                        <img class="check" src="/img/card/Frame 21065.png" alt="check" loading="lazy" />
                    <p class="card-text">Личный кабинет со статистикой</p>
                </li>
                    <li class="card-item">
                        <img class="check" src="/img/card/Frame 21065.png" alt="check" loading="lazy" />
                    <p class="card-text">Среднесрочные сделки с уровнями набора портфеля</p>
                    </li>
                </ul>
                <div class="price-wrapper standart-price-wrapper">
                <p class="price">$234 <span class="discount">-35%</span></p>
                <div class="select-box">
                    <div class="selected" id="selected">
                        <span id="selectedText">12 месяцев</span>
                        <span class="arrow" id="arrow">
                            <img src="/img/card/Frame 29.png" alt="Arrow" loading="lazy">
                        </span>
                    </div>
                    <ul class="options" id="options">
                        <li class="option">12 месяцев</li>
                         <li class="option">6 месяцев</li>
                        <li class="option">3 месяца</li>                     
                        
                    </ul>
                </div>
                </div>
                <a class="price-btn" href="#reviews">
                    <p class="try-text">Попробовать</p>
                    <p class="free-text">5 дней бесплатно</p>
                </a>
            </div>
    
            <div class="card vip">
                <h3>VIP</h3>
                <ul class="card-list">
                    <li class="card-item">
                    <img class="check" src="/img/card/Frame 21065.png" alt="check" loading="lazy" />
                    <p class="card-text">Ручной трейдинг</p>
                    </li>
                    <li class="card-item">
                        <img class="check" src="/img/card/Frame 21065.png" alt="check" loading="lazy" />
                    <p class="card-text">Автоматическое или полуавтоматическое копирование сделок</p>
                </li>
                    <li class="card-item">
                        <img class="check" src="/img/card/Frame 21065.png" alt="check" loading="lazy" />
                    <p class="card-text">Личный кабинет со статистикой</p>
                </li>
                    <li class="card-item">
                        <img class="check" src="/img/card/Frame 21065.png" alt="check" loading="lazy" />
                    <p class="card-text">Краткосрочные, среднесрочные и инвест сделки</p>
                    </li>
                         <li class="card-item">
                        <img class="check" src="/img/card/Frame 21065.png" alt="check" loading="lazy" />
                    <p class="card-text">Доступ в Vip чат с командой</p>
                </li>
                    <li class="card-item">
                        <img class="check" src="/img/card/Frame 21065.png" alt="check" loading="lazy" />
                    <p class="card-text">Наш авторский курс по трейдингу</p>
                    </li>
                </ul>
                <div class="price-wrapper">
                <p class="price">$585 <span class="discount">-35%</span></p>
                <div class="select-box">
                    <div class="selected" id="selected">
                        <span id="selectedText">12 месяцев</span>
                        <span class="arrow" id="arrow">
                            <img src="/img/card/Frame 29.png" alt="Arrow" loading="lazy">
                        </span>
                    </div>
                    <ul class="options" id="options">
                        <li class="option">12 месяцев</li>
                         <li class="option">6 месяцев</li>
                        <li class="option">3 месяца</li>                     
                        
                    </ul>
                </div>
                </div>
                <a class="price-btn" href="#reviews">
                    <p class="try-text">Попробовать</p>
                    <p class="free-text">5 дней бесплатно</p>
                </a>
            </div>
        </div>
    </div>
    </div>
</section>