body{
  background: #030718;
  font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21429;
    color: #fff;
}
h2{
  font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #fff;
}
h3{
  font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.04em;
    color: #fff;
}
button{
  border-radius: 3px;
    padding: 16px 24px;
    width: 310px;
    height: 52px;
    box-shadow: 0 0 4px 0 #57e1ff;
      background: #57e1ff;
}
@media only screen and (min-width: 1440px) {
  h2{
      font-size: 44px;
      line-height: 1.27273;
      color: #fff;
  }
  h3{
  font-size: 28px;
  }
}