.footer{
border-bottom: 5px solid #6a54ff;
}
.footer-container {
  padding: 40px 0 20px;
}
.footer-nav{
  padding: 0 42px 57px 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.footer-nav-text{
  text-transform: uppercase;
  opacity: 0.4;
}
.footer-navigation-list{
  width: 137px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-navigation-item{
      font-family: "IBM Plex Sans", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.21429;
        text-transform: uppercase;
        color: #fff;
        transition: all 0.3s ease;
        height: 30px;
        opacity: 0.67;
        padding: 0 0 8px;
}
    .footer-navigation-item:hover {
      opacity: 1;
    }
    .footer-navigation-item.active {
    border-bottom: 1px solid #57e1ff;
    opacity: 1;
  }
  .footer-logo{
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 80px;
     }
.footer-logo-img{
width: 180px;
height: 117px;
}
.legal-text{
  opacity: 0.5;
}
@media only screen and (min-width: 1440px) {
.footer {
    border-bottom: none;
  }
  .footer-container{
    padding: 0;
    display: flex;
  }
  .footer-nav{
    flex-direction: column;
    gap: 224px;
    width: 1000px;
    border-bottom: none;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    padding: 44px 217px 40px 80px;
  }
  .footer-navigation-list{
    flex-direction: row;
    justify-content: start;
    width: 650px;
    gap: 24px;   
  }
    .footer-navigation-item {
      font-size: 16px;
    }
    .mob{
      display: none;
    }
    .footer-navigation-item-desk{
      display: none;
    }
    .footer-logo {
      padding: 20px 80px 50px 140px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 180px;
    }
    .footer-logo-img{
      width: 185px;
    margin-left: auto;
    margin-right: 0;
    }
}