/* Hero */
.hero-conatiner{
    padding-top:40px;
    padding-bottom:37px;
}
.hero-title{
    font-family: "IBM Plex Sans", sans-serif;
        font-weight: 700;
        font-size: 35px;
        line-height: 1.25714;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #fff;
        margin-top: 33px;
        margin-bottom: 16px;
}
.hero-text{
    font-size: 16px;
    line-height: 1.25;
        color: #e7f7f8;
        opacity: 0.8;
}
.subscribe-form {
    border-radius: 4px;
       border-radius: 4px;
        width: 343px;
        height: 50px; 
         position: relative;
         margin-top: 24px;
}
.hero-input{
border-radius: 4px;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: #201a4f;
    color: #CFCFFC;
    font-size: 14px;
    padding: 15px 16px;
}

.hero-btn {   
border: 1px solid #57e1ff;
    border-radius: 4px;
    padding: 11px 24px;
    width: 102px;
    height: 42px;
    transition: 0.3s;
    position: absolute;
    right: 2%;
    top: 8%;  
    font-family: "IBM Plex Sans", sans-serif;
        font-weight: 500;
        font-size: 14px;
            line-height: 1.42857;
        text-transform: uppercase;
        color: #030718;
}
.hero-btn:hover {
    background-color: #2CB8E5;
}
.form-message {
    color: #57e1ff;
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.hero-bottom-text{
    margin-top: 22px;
    opacity: 0.3;
    line-height: 1.42857;
}
@media only screen and (min-width: 1440px) {
.hero-conatiner {
        padding-top: 160px;
        padding-bottom: 134px;
        display: flex;
        gap: 128px;
}
.hero-img-wrapper{
    order: 2;
}
.hero-wrapper{
    width: 630px;
}
.hero-title{
    margin-top: 0;
        font-size: 60px;
        line-height: 1.2;
        margin-bottom: 12px;
}
.hero-text{
    width: 565px;
}
.subscribe-form{
width: 500px;
    height: 60px;
}
.hero-btn{
    width: 109px;
        height: 52px;
        right: 1%;
        top: 6%;
        padding: 16px 24px;
}
.hero-input{
    height: 60px;  
}
}
/* Numbers */
.numbers-section{
    background-image: url("/img/numbers/numbers-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.number-conteiner{
    padding-top: 48px;
    padding-bottom: 48px;
}
.numbers-title{
color: #000;
}
.date-text{
    opacity: 0.5;
    letter-spacing: -0.04em;
        color: #000;
        margin-top: 2px;
        margin-bottom: 40px;
}
.numbers-list{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.numbers-item{
    width: 136px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.item-title{
    line-height: 1.42857;
        text-transform: uppercase;
        color: #000;
        opacity: 0.8;
}
.item-number{
font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #6a54ff;
}
@media only screen and (min-width: 1440px) {
   .numbers-section{
    background-image: url("/img/numbers/nubmers-desk.png");
   }
   .number-conteiner{
    padding-top: 116px;
    padding-bottom: 60px;
    display: flex;
    gap: 156px;
   }
   .date-text{
    margin-top: 4px;
    margin-bottom: 0;
   }
   .numbers-list{
    gap: 10px;
   }
   .numbers-item{
    width: 310px;
   }
   .item-number{
    font-size: 60px;
   }
}
/* Deals */
.deals-container{
    padding-top: 48px;
    padding-bottom: 53px;
}
.deals-list{
    margin-top: 2px;
    list-style-type: disc;
    color: #35ff9e;
    opacity: 0.9;
    padding-left: 20px;
}
.deals-swiper{
    margin-top: 24px;
   
}
    .pag_container {
        width: 311px;
        margin-left: auto;
        margin-right: auto;
        height: 6px;
        background-color: #434F70;
        ;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        margin-top: 16px;
    }

    .pag_bar {
        width: 100px;
        height: 100%;
        background-color: #6073a1;
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 0;
        transition: left 0.3s ease-in-out;
    }

@media only screen and (min-width: 1439px) {
    .deals-container{
padding-top: 96px;
padding-bottom: 118px;
    }
   .deals-list{
    margin-top: 4px;
   }
.deals-swiper{
    margin-top: 82px;
}
 .pag_container{
width: 955px;
margin-top: 24px;
}
}
/* About */
.about-section{
    background-image: url("/img/numbers/numbers-mob.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
}
.about-container{
    padding-top: 48px;
    padding-bottom: 133px;
    position: relative;
}
.about-title{
    color: #030718;
}
.about-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #030718;
    opacity: 0.8;
    font-size: 16px;
}
.about-form{
    position: absolute;
    right:3%;
    border-radius: 4px;
    width: 356px;
    height: 218px;
    background: #6a54ff;
    padding: 16px;
}
.form-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
        letter-spacing: -0.04em;
    text-align: center;
    margin-bottom: 20px;
}
.about-input{
    opacity: 0.34;
    color: #fff;
    font-weight: 500;
    margin-bottom: 8px;
    }
.about-btn{
    position: relative;
    width: 100%;
   right: 0;
   top: 0;
}
@media only screen and (min-width: 1440px) {
.about-section{
    background-image: url("/img/numbers/nubmers-desk.png");
}
.about-container{
    padding-top: 116px;
    padding-bottom: 92px;
}
.about-wrapper{
    width: 413px;
}
.about-list{
    margin-top: 40px;
}
.about-form{
    top: 152px;
    width: 630px;
        height: 236px;
        padding:40px 64px;
}
.form-title{
    font-size: 28px;
}
.about-input{
    border-radius: 4px;
        width: 498px;
        height: 60px;
}
.about-btn{
    width: 165px;
    height: 52px;
position: absolute;
top: 142px;
right: 12%;
}
}
/* Tradeblade */
.tradeblade-container{
    padding-top: 181px;
    padding-bottom: 71px;
}
.tradeblade-list{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.tradeblade-item{
display: flex;
gap: 32px;
align-items: start;
}
.tradeblade-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.tradeblade-text{
    opacity: 0.8;
}
@media only screen and (min-width: 1440px) {
 .tradeblade-container{
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    gap: 128px;
 }
 .tradeblade-list{
    margin-top: 0;
    flex-direction: row;
    flex-wrap: wrap;
   gap: 41px;
    row-gap: 72px;
 }
 .tradeblade-item{
    width: 414px;
    height: 140px;
 }
 .tradeblade-text{
    font-size: 16px;
 }
}
/* Start */
.start-section{
  background-image: url("/img/start/mob.png"); 
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.start-container{
    padding-top: 48px;
    padding-bottom: 44px;
}
.start-list{
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}
.start-item{
    display: flex;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-left: 2px solid #fff;
    padding-left: 31px;
    width: 337px;
}
.start-text{
    font-size: 16px;
    opacity: 0.8;
}
.start-btn{
    display: block;
    margin-top: 40px;
    box-shadow: 0 0 4px 0 #57e1ff;
        background-color: #57e1ff;
        border-radius: 3px;
            padding: 16px 64px;
            width: 343px;
            height: 52px;
            font-family: "IBM Plex Sans", sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.25;
                text-transform: uppercase;
                color: #030718;
}
.start-btn:hover{
background-color: #2CB8E5;
}
@media only screen and (min-width: 1440px) {
  .start-section{
    background-image: url("/img/start/desk.png");
  }
  .start-container{
    padding-top: 116px;
    padding-bottom: 96px;
  }
  .start-list{
    margin-top: 79px;
    flex-direction: row;
    gap: 20px;
  }
  .start-item{
width: 305px;
padding-left: 0;
padding-top: 39px;
border-top: 2px solid #fff;
border-left: none;
  }
  .start-text{
    font-size: 20px;
  }
  .start-btn{
    margin: 56px auto 0;    
  }
}
/* Price */
.price-container{
    padding-top: 58px;
    padding-bottom: 16px;
}
.tariffs{
    margin-top: 22px;
    margin-bottom: 24px;
}

.tabs {
background: rgba(106, 84, 255, 0.4);
    border-radius: 4px;
    display: flex;
    margin-bottom: 15px;
    padding: 4px;
  }

.tab {
    flex: 1;
    background: inherit;
    border: none;
    box-shadow: none;
font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #57e1ff;
    width: 167px;
    height: 44px;
    padding: 12px 40px;
    transition: all 0.3s ease-in-out;
}

.tab.active {
background: #57e1ff;
border-radius: 4px;
    width: 167px;
    height: 44px;
    font-family: "IBM Plex Sans", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.33333;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #000;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    animation: fadeIn 0.3s ease;
}
.standard{
    border: 1px solid #6a54ff;
        border-radius: 8px;
        width: 343px;
        height: auto;
        padding: 16px;
}
.card-list{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.card-item{
    display: flex;
    gap: 10px;
    align-items: start;
    padding: 8px;
border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}
.card-text{
    font-size: 16px;
}
.select-box {
    position: relative;
    width: 160px;
    user-select: none;
}

.selected {
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 8px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
}

.selected:hover {
    background: rgba(255, 255, 255, 0.3);
}

.arrow {
    font-size: 14px;
    transition: transform 0.2s;
}

.options {
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    background: rgba(30, 30, 40, 0.95);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 10;
}

.options.active {
    display: block;
    animation: fadeIn 0.15s ease-in-out;
}

.option {
    padding: 8px 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.option:hover {
    background: rgba(255, 255, 255, 0.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.rotate {
    transform: rotate(180deg);
}

.vip {
border-radius: 8px;
  width: 343px;
    height: auto;
    background: #6a54ff;
    padding: 16px;
}
.price-wrapper{
    margin-top: 24px;
    display: flex;
    gap: 55px;
}
.price {
font-weight: 500;
    font-size: 35px;
    line-height: 1.14286;
    letter-spacing: -0.04em;
    display: flex;
    align-items: start;
}

.discount {
font-weight: 500;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #35ff9e;
    margin-left: 10px;
}

.price-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
        padding: 8px 24px;
        width: 310px;
        height: 52px;
        box-shadow: 0 0 4px 0 #57e1ff;
            background: #57e1ff;
    transition: background 0.3s;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
}
.try-text{
    font-weight: 500;
        font-size: 16px;
          line-height: 1.25;
        text-transform: uppercase;
        color: #030718;
}
.free-text{
    font-size: 12px;
    line-height: 1.33333;
        color: #030718;
        opacity: 0.56;
}
.price-btn:hover {
    background: #0891b2;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media only screen and (min-width: 1440px) {
   .price-container{
    padding: 96px 297px;
   }
   .tabs{
    width: 413px;
    height: 52px;
   }
   .cards{
    flex-direction: row;
    gap: 20px;
   }
   .card{
    width: 413px;
    margin-top: 44px;
   }
   .standart-price-wrapper{
    margin-top: 130px;
   }
   .price-btn{
    width: 365px;
        height: 52px;
   }
}
/* Reviews */
.reviews-container{
    padding-top: 56px;
    padding-bottom: 64px;
}
.reviews-list{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.reviews-item{
    display: flex;
    align-items: start;
    border-radius: 4px;
        padding: 24px 16px;
        width: 343px;
        height: auto;
        background: rgba(234, 239, 240, 0.2);
        gap: 12px;
}
.author-wrapper{
    display: flex;
    flex-direction: column;
}
.author-activity{
    margin-top: 2px;
    margin-bottom: 12px;
       line-height: 1.28571;
        letter-spacing: -0.02em;
        color: #a5aebc;
}
.usd-span{
    font-weight: 500;
}
.author-text{
    font-size: 16px;
    opacity: 0.8;
}
.reviews-btn{
    margin-top: 24px;
    display: block;
    border: 2px solid #57e1ff;
    background: inherit;
        border-radius: 3px;
        padding: 14px 16px;
        width: 289px;
        height: 52px;
        font-family: "IBM Plex Sans", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.25;
            text-transform: uppercase;
            color: #57e1ff;
            margin-left: auto;
            margin-right: auto;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.reviews-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(87, 225, 255, 0.5);
}
@media only screen and (min-width: 1440px) {
   .reviews-container{
    padding: 97px 188px;
   }
   .reviews-list{
    margin-top: 56px;
    flex-direction: row;
    width: 1064px;
    height: auto;
    flex-wrap: wrap;
   }
   .reviews-item{
    width: 522px;
    gap: 20px;
   }
}