/* Hero */
.hero-conatiner{
    padding-top:40px;
    padding-bottom:37px;
}
.hero-title{
    font-family: "IBM Plex Sans", sans-serif;
        font-weight: 700;
        font-size: 35px;
        line-height: 1.25714;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #fff;
        margin-top: 33px;
        margin-bottom: 16px;
}
.hero-text{
    font-size: 16px;
    line-height: 1.25;
        color: #e7f7f8;
        opacity: 0.8;
}
.subscribe-form {
    border-radius: 4px;
       border-radius: 4px;
        width: 343px;
        height: 50px; 
         position: relative;
         margin-top: 24px;
}
.hero-input{
border-radius: 4px;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: #201a4f;
    color: #CFCFFC;
    font-size: 14px;
    padding: 15px 16px;
}

.hero-btn {   
border: 1px solid #57e1ff;
    border-radius: 4px;
    padding: 11px 24px;
    width: 102px;
    height: 42px;
    transition: 0.3s;
    position: absolute;
    right: 2%;
    top: 8%;  
    font-family: "IBM Plex Sans", sans-serif;
        font-weight: 500;
        font-size: 14px;
            line-height: 1.42857;
        text-transform: uppercase;
        color: #030718;
}
.hero-btn:hover {
    background-color: #2CB8E5;
}
.form-message {
    color: #57e1ff;
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.hero-bottom-text{
    margin-top: 22px;
    opacity: 0.3;
    line-height: 1.42857;
}
@media only screen and (min-width: 1440px) {
.hero-conatiner {
        padding-top: 160px;
        padding-bottom: 134px;
        display: flex;
        gap: 128px;
}
.hero-img-wrapper{
    order: 2;
}
.hero-wrapper{
    width: 630px;
}
.hero-title{
    margin-top: 0;
        font-size: 60px;
        line-height: 1.2;
        margin-bottom: 12px;
}
.hero-text{
    width: 565px;
}
.subscribe-form{
width: 500px;
    height: 60px;
}
.hero-btn{
    width: 109px;
        height: 52px;
        right: 1%;
        top: 6%;
        padding: 16px 24px;
}
.hero-input{
    height: 60px;  
}
}
/* Numbers */
.numbers-section{
    background-image: url("/img/numbers/numbers-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.number-conteiner{
    padding-top: 48px;
    padding-bottom: 48px;
}
.numbers-title{
color: #000;
}
.date-text{
    opacity: 0.5;
    letter-spacing: -0.04em;
        color: #000;
        margin-top: 2px;
        margin-bottom: 40px;
}
.numbers-list{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.numbers-item{
    width: 136px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.item-title{
    line-height: 1.42857;
        text-transform: uppercase;
        color: #000;
        opacity: 0.8;
}
.item-number{
font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #6a54ff;
}
@media only screen and (min-width: 1440px) {
   .numbers-section{
    background-image: url("/img/numbers/nubmers-desk.png");
   }
   .number-conteiner{
    padding-top: 116px;
    padding-bottom: 60px;
    display: flex;
    gap: 156px;
   }
   .date-text{
    margin-top: 4px;
    margin-bottom: 0;
   }
   .numbers-list{
    gap: 10px;
   }
   .numbers-item{
    width: 310px;
   }
   .item-number{
    font-size: 60px;
   }
}
/* Deals */
.deals-container{
    padding-top: 48px;
    padding-bottom: 53px;
}
.deals-list{
    margin-top: 2px;
    list-style-type: disc;
    color: #35ff9e;
    opacity: 0.9;
    padding-left: 20px;
}
.deals-swiper{
    margin-top: 24px;
   
}
    .pag_container {
        width: 311px;
        margin-left: auto;
        margin-right: auto;
        height: 6px;
        background-color: #434F70;
        ;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        margin-top: 16px;
    }

    .pag_bar {
        width: 100px;
        height: 100%;
        background-color: #6073a1;
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 0;
        transition: left 0.3s ease-in-out;
    }

@media only screen and (min-width: 1439px) {
    .deals-container{
padding-top: 96px;
padding-bottom: 118px;
    }
   .deals-list{
    margin-top: 4px;
   }
.deals-swiper{
    margin-top: 82px;
}
 .pag_container{
width: 955px;
margin-top: 24px;
}
}
/* About */
.about-section{
    background-image: url("/img/numbers/numbers-mob.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
}
.about-container{
    padding-top: 48px;
    padding-bottom: 133px;
    position: relative;
}
.about-title{
    color: #030718;
}
.about-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #030718;
    opacity: 0.8;
    font-size: 16px;
}
.about-form{
    position: absolute;
    right:3%;
    border-radius: 4px;
    width: 356px;
    height: 218px;
    background: #6a54ff;
    padding: 16px;
}
.form-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
        letter-spacing: -0.04em;
    text-align: center;
    margin-bottom: 20px;
}
.about-input{
    opacity: 0.34;
    color: #fff;
    font-weight: 500;
    margin-bottom: 8px;
    }
.about-btn{
    position: relative;
    width: 100%;
   right: 0;
   top: 0;
}
@media only screen and (min-width: 1440px) {
.about-section{
    background-image: url("/img/numbers/nubmers-desk.png");
}
.about-container{
    padding-top: 116px;
    padding-bottom: 92px;
}
.about-wrapper{
    width: 413px;
}
.about-list{
    margin-top: 40px;
}
.about-form{
    top: 152px;
    width: 630px;
        height: 236px;
        padding:40px 64px;
}
.form-title{
    font-size: 28px;
}
.about-input{
    border-radius: 4px;
        width: 498px;
        height: 60px;
}
.about-btn{
    width: 165px;
    height: 52px;
position: absolute;
top: 142px;
right: 12%;
}
}
/* Tradeblade */
.tradeblade-container{
    padding-top: 181px;
    padding-bottom: 71px;
}
.tradeblade-list{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.tradeblade-item{
display: flex;
gap: 32px;
align-items: start;
}
.tradeblade-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.tradeblade-text{
    opacity: 0.8;
}
@media only screen and (min-width: 1440px) {
 .tradeblade-container{
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    gap: 128px;
 }
 .tradeblade-list{
    margin-top: 0;
    flex-direction: row;
    flex-wrap: wrap;
   gap: 41px;
    row-gap: 72px;
 }
 .tradeblade-item{
    width: 414px;
    height: 140px;
 }
 .tradeblade-text{
    font-size: 16px;
 }
}